{% extends 'base.html'%}


{% block  content%}
    <main class="container py-5">
        <section class= "card card-body">
            <h1 class="dispaly-1 text-center">
                Bienvenido
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est non repellat ullam laborum perferendis amet distinctio iste, eligendi quis recusandae earum, inventore, perspiciatis veritatis cupiditate! In corporis veritatis tenetur libero.</p>

            <div class="text-center">
                <a class="btn btn-primary" href="/singin">Singin</a>
                <a class="btn btn-primary" href="/singin">Singup</a>
            </div>
        </section>
    </main>
{% endblock  %}
