{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4">
            <h1 class="text-center">Iniciar sesión</h1>
        {{error}}
        <form action="/singin/" method='POST' class="card card-body text-center">
            {% csrf_token %}
            {% comment %} {{form.as_p}}
            <button>Ingresar</button> {% endcomment %}
        
            <div class="mb-3">
                <label for="username">Usuario</label>
                <input type="text" name="username" id="username" class="form-control" placehoder="Ingrese su nombre de usuario">
            </div>
        
            <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placehoder="Ingrese su contraseña">
            </div>
        
            
        
        
        
            <button class="btn btn-primary">Singin</button>
        </form>
        </section>
    </div>
</main>
{% endblock %}
